* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Raleway';
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Anton', sans-serif;
    font-family: 'Permanent Marker', cursive;

}

.header {
    width: 100%;
    height: 85vh;
    background-image: url("../images/hero2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    height: 85vh;
    background-color: rgba(31, 29, 29, 0.397);
}
.header--menuContainer {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 9%;
}
.logo {
    width: 15rem;
    height: 7.5rem;
}

.header--heroContainer {
    position: relative;
    width: 80%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto auto;
    padding-top: 10%;
}
.heroContainer--content {
    width: 50%;
    text-align: center;
    color: #ffffff;
    padding: 0 2rem;
}
.heroContainer--content h1 {
    font-size: 7rem;
}
.heroContainer--content p {
    font-size: 1rem;
}

.heroContainer--form {
    width: 50%;
    max-width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}
.form--container {
    height: 100%;
    padding: 1rem 1rem;
    background-color: rgba(31, 29, 29, 0.788);
    border-radius: 10%;
    border: 5px solid #1f1e1e4d;
}
.form--container input {
    color: #ffffff;
    font-size: 1rem;
    border: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

#message {
    height: 100px!important;
}

.send--message {
    width: 50%;
    height: 5rem;
    margin-top: 67px;
    font-size: 2rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    -webkit-box-shadow:0px 30px 40px 10px rgba(49, 48, 48, 0.562) ;
    -moz-box-shadow:0px 30px 40px 10px rgba(49, 48, 48, 0.562) ;
    box-shadow:0px 30px 40px 10px rgba(49, 48, 48, 0.562) ;
}

/* Carousel */

.titulo {
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 70px;
    color: #3acced;
}

.subtitulo {
    position: relative;
    z-index: 2;
    margin: 0;
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

.sabor {
    position: relative;
    z-index: 2;
    color: #fff;
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Anton', sans-serif;
    margin-top: 0;
}

.linea-division {
    width: 100%;
    height: 100%;
}
.linea-division:before {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    height: 500px;
    background-color: rgba(31, 29, 29, 0.397);
    border-radius: 15px;
}

/* ------------------------- */
/* Estilos de Materialize */
/* ------------------------- */
.carousel {
    min-height: 800px;
    margin-top: 25px;
    text-align: center;
}

.carousel .carousel-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    user-select: none;
    width: 500px !important;
    height: 500px !important;
    padding: 10px 25px;
}

.carousel .carousel-item img {
    width: 500px !important;
    height: 500px !important;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #13131344;
}