* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 500vh;
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #36221c 50%);
    font-family: 'Anton', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

.titulo {
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 70px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

.sabor { 
    color: #fff;
    margin: 10px 0;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Anton', sans-serif;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #000000;
}

/* ------------------------- */
/* Estilos de Materialize */
/* ------------------------- */
.carousel {
    min-height: 1000px;
    
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    user-select: none;
    width: 500px !important;
    height: 500px !important;
}

.carousel .carousel-item img {
    width: 500px !important;
    height: 500px !important;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #13131344;
}
